*{
    padding: 0;
    margin: 0;
}
.title{
    /* padding: 30px; */
    background-color: #F7F8F9;
    margin-bottom: 50px;
    padding: 40px 0 40px;
    text-align: center;
}
h2{
    width: 1000px;
    font-size: 33px;
    margin: auto;
}
h2~p{
    width: 1000px;
    font-size: 15px;
    margin: auto;
}
.card{
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.card-revres{
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.text{
    width: 500px;
    display: grid;
    /* justify-content: space-around; */
}
h3{
    font-size: 28px;
}
h3+p{
    font-size: 16px;
    /* flex-grow: 1; */
}
.photo img{
    width: 480px;
    /* flex-grow: 1; */
}
ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
li::before {content: "●  "; color: #0061ff}
li{
    list-style:none;
    font-size: 16px;
    width: 240px;
}
.groud{
    background-color: #F7F8F9;
    text-align: center;
    padding: 40px;
    flex-wrap: wrap;
}
#h4{
    font-size: 28px;
    margin-bottom: 40px;
}
.groud-item{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.groud-card{
    width: 313px;
    margin: 30px 10px 30px 10px;
}
.groud-card h4{
    margin: 20px;
}
.groud-card img{
    margin: 5px;
    width: 43px;
}